<div>
  <button (click)="selectStateManager(StateManager.NgRx)">NgRx</button>
  <button (click)="selectStateManager(StateManager.Akita)">Akita</button>
</div>
<div *ngIf="!!selectedStateManager">
  <button (click)="add()">Add</button>
  <button (click)="update()">Update</button>
</div>
<div *ngIf="selectedStateManager === StateManager.Akita">
  Akita Table
  <app-table [rows]="akitaRows$ | async"></app-table>
</div>
<div *ngIf="selectedStateManager === StateManager.NgRx">
  NgRx Table
  <app-table [rows]="ngrxRows$ | async"></app-table>
</div>